* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

::after,
::before {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 40px 0px 0px 0px;
  background-color: #777;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card_rol {
  padding: 0px 0px 10px 0px;
  overflow: hidden;
}

.card_rol.active {
  padding: 0px 0px 30px 0px;
}

.card_rol__content {
  position: relative;
  text-align: center;
  background-color: #e7dede;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  height: 55px;
  -webkit-transition: .6s ease;
  transition: .6s ease;
}

.card_rol__content.active {
  height: 100%;
}

.card_rol.card_rol__content.header h1 {
  margin: 0px 0px 10px 0px;
}

.body_rol {
  pointer-events: none;
  margin: 30px 0px 0px 0px;
  opacity: 0;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.card_rol__content.active .body_rol {
  pointer-events: visible;
  opacity: 1;
}

.body_rol-title {
  margin: 0px 0px 5px 0px;
}

.card_rol__content--arrow {
  position: absolute;
  bottom: -9px;
  left: 50%;
  width: 20px;
  height: 20px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #e7dede;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card_rol__content--arrow {
  cursor: pointer;
}

.card_rol__content--arrow img {
  display: block;
  width: 9px;
  height: 9px;
}
